<nav id="navbar">
    <div class="navitem">
        <a href="/">Home</a>
    </div>
    <div class="navitem">
        <a href="/store">Store</a>
    </div>
    <div class="navitem">
        <a href="/vote">Vote</a>
    </div>
    <div class="navitem">
        <a href="/about">About</a>
    </div>
</nav>