<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ButteryMC • Rules</title>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="/style.css"/>
		<link rel="stylesheet" type="text/css" href="/navbar.css"/>
		<link rel="stylesheet" type="text/css" href="/footer.css"/>
		<style>
			span[color=red] {
				color: red;
			}
			span[color=green] {
				color: green;
			}
		</style>
	</head>
	<body>
		<%- include("navbar.ejs") %>
		
		<div class="container">
			<h2 class="heading">Server Rules:</h2>
			<p>1. <span color="red">No</span> Hacking</p>
			<p>&#8195;a. Trying to Fake Hacking</p>
			<p>2. <span color="red">Do Not</span> Use Anything that gives an unfair advantage over other player</p>
			<p>&#8195;a. This includes Auto Clicker</p>
			<p>&#8195;b. The use of Mods that would give you a Advantage over other players</p>
			<p>&#8195;&#8195;a. Optifine, Badlion etc. is <span color="green">allowed</span></p>
			<p>&#8195;c. Teaming with other who aren't on the same team (cross-teaming)</p>
			<p>3. <span color="red">No</span> Foul Chat Language or Actions</p>
			<p>&#8195;a. Being Disrespectful to other players</p>
			<p>&#8195;b. Inappropriate Language / Cursing</p>
			<p>&#8195;c. Chat Flooding or Spamming</p>
			<p>&#8195;d. Advertising</p>
			<p>&#8195;e. Don't ask Staff for items or ranks or try to persuade staff</p>
			<p>4. <span color="red">Don't</span> go over the Alt Limit of 2 and or Ban Invade</p>
			<p>5. <span color="red">No</span> Inappropriate Item Names, Skins, Usernames, or Builds</p>
			<p>6. <span color="red">Don't</span> Abuse Glitches or Bugs</p>
			<p>&#8195;a. Making a Lag Machine</p>
		</div>

		<%- include("footer.ejs") %>
	</body>
</html>
